// Variables
$primary-color: #d9534f;
$secondary-color: #5cb85c;
$background-color: #f4f4f4;
$text-color: #333;

// Mixins
@mixin button-style($bg-color, $hover-color) {
    background-color: $bg-color;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;

    &:hover {
        background-color: $hover-color;
    }
}

// Styles
body {
    font-family: Arial, sans-serif;
    background-color: $background-color;
    color: $text-color;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: $primary-color;
}

#simulador, #resultado {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    @include button-style($secondary-color, darken($secondary-color, 10%));
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
}

#autoSelect {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}

#selectAutoBtn, #closeResultModalBtn {
    @include button-style($primary-color, darken($primary-color, 10%));
    margin-top: 20px;
}

#resultMessage {
    white-space: pre-line; 
    font-weight: bold;
}

#cambiarModeloBtn {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: darken(#5cb85c, 10%);
    }

    &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
        pointer-events: none; 
    }
}



